
*.dta
build/input/README.txt
analysis/output/_retrato_emprego_setor_sgap_trans_table_n_de_formal.tex
document/Preliminary_Results.aux
document/Preliminary_Results.log
document/Preliminary_Results.nav
document/Preliminary_Results.out
document/Preliminary_Results.snm
document/Preliminary_Results.toc
desktop.ini
analysis/output/importancia_relativa.png
document/~$Z2030 Report - Dinamismo Economico.docx
document/AMZ2030 Report - Dinamismo Economico.docx
build/input/Lista_corrida_CNAE_PNADC_SVC.xls
build/input/Lista_corrida_COD_PNADC_SVC.xls
build/output/Dados_comida_COD.xls
build/output/Dados_comida_CNAE.xls
document/2021-01-28 Preliminary_Results.pdf
document/2021-03-08 Preliminary_Results.pdf
analysis/output/amzacrkngnocuporcnae2dig.tex
analysis/output/*.tex
document/Selected_Results.log
document/Selected_Results.nav
document/Selected_Results.out
document/Selected_Results.pdf
document/Selected_Results.snm
document/Selected_Results.toc
document/Selected_Results.aux
build/code/_no_accents_etc.do
build/code/_no_capital_letters.do
document/New_results.aux
document/New_results.log
document/New_results.nav
document/New_results.out
document/New_results.snm
document/New_results.toc
document/2021-04-20 New_results.pdf
document/New_results.pdf
document/2021-04-26 New_results.pdf
document/~WRL1184.tmp
document/2021-05-15 New_results.pdf
analysis/output/_importancia_relativa.png
analysis/output/_importancia_relativa.png
document/Presentation.aux
document/Presentation.log
document/Presentation.nav
document/Presentation.out
document/Presentation.pdf
document/Presentation.snm
document/Presentation.toc
document/2020-05-26 Presentation - Amazonia Dinamismo Economico.pdf
document/~$Z2030 Report - Dinamismo Economico - Agropecuária.docx
document/AMZ2030 Report - Dinamismo Economico - Agropecuária.docx
document/~WRL3570.tmp
document/AMZ2030 Nota - Dinamismo Economico - Agropecuária.docx
analysis/output/_graph_setorpublico.png
analysis/output/_graph_setorpublico_desagregado.png
document/AMZ2030 Nota - Dinamismo Economico - Setor Publico.docx
document/~$Z2030 Nota - Dinamismo Economico - Setor Publico.docx
document/*.tmp
document/AMZ2030 Nota - Dinamismo Economico - Agropecuária.pdf
analysis/output/_graph_dirigentes.png
analysis/output/_graph_dirigentes_desagregado.png
analysis/output/_graph_vendedores.png
analysis/output/_graph_vendedores_desagregado.png
document/AMZ2030 Nota - Dinamismo Economico - Agropecuária_30_07_revisão Clarice.docx
document/AMZ2030 Nota - Dinamismo Economico - Setor Publico - Copia.docx
document/AMZ2030 Nota - Dinamismo Economico - Liderança e Qualificados.docx
document/AMZ2030 Nota - Dinamismo Economico - Vendedores.docx
document/Short Pub PT Template AMZ2030.dotx
document/Short Pub PT Template AMZ2030 - Cientistas.docx
document/Short Pub PT Template AMZ2030 - Serviços.docx
document/Short Pub PT Template AMZ2030 - Setor Publico.docx
document/Dinamismo Economico - Notas.pptx
document/Template PPT AMZ 2030.pptx
document/~$ort Pub PT Template AMZ2030 - Cientistas.docx
document/~$ort Pub PT Template AMZ2030 - Serviços.docx
document/~$Dinamismo Economico - Notas.pptx
document/Short Pub PT Template AMZ2030 - Qualificadas.docx
document/
