
*.dta
build/input/README.txt
analysis/output/_retrato_emprego_setor_sgap_trans_table_n_de_formal.tex
document/Preliminary_Results.aux
document/Preliminary_Results.log
document/Preliminary_Results.nav
document/Preliminary_Results.out
document/Preliminary_Results.snm
document/Preliminary_Results.toc
desktop.ini
analysis/output/importancia_relativa.png
document/~$Z2030 Report - Dinamismo Economico.docx
document/AMZ2030 Report - Dinamismo Economico.docx
build/input/Lista_corrida_CNAE_PNADC_SVC.xls
build/input/Lista_corrida_COD_PNADC_SVC.xls
build/output/Dados_comida_COD.xls
build/output/Dados_comida_CNAE.xls
document/2021-01-28 Preliminary_Results.pdf
document/2021-03-08 Preliminary_Results.pdf
analysis/output/amzacrkngnocuporcnae2dig.tex
analysis/output/*.tex
document/Selected_Results.log
document/Selected_Results.nav
document/Selected_Results.out
document/Selected_Results.pdf
document/Selected_Results.snm
document/Selected_Results.toc
